@import "src/styles";

.error {
  display: flex;
  flex-direction: column;
  gap: margin-base(4);
  justify-content: center;
  align-items: center;

  font-size: $font-size-normal;
  color: $color-foreground;

  &__code {
    font-size: $font-size-colossal;
    font-weight: $font-weight-bold;
    user-select: none;
  }

  &__header {
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
  }

  &__buttons {
    display: flex;
    gap: margin-base(2);
  }
}
