@import "src/styles";

.select {
  &__container {
    display: flex;
    align-items: center;
    cursor: pointer;

    &--disabled {
      color: $color-disabled;
    }

    &--readonly,
    &--disabled {
      cursor: default;
    }
  }

  &__icon {
    @include fixed-width(space-base(11px));

    margin-left: margin-base(2);
    transform: rotate(0deg);

    transition: transform $animation-time-quick linear;

    &--open {
      transform: rotate(180deg);
    }

    &--readonly {
      color: $color-disabled;
    }
  }

  &__value {
    &--placeholder {
      color: $color-disabled;
    }
  }
}
