@import "src/styles";

.icon-button.button {
  $size: space-base(32px);
  @include fixed-height($size);
  @include fixed-width($size);

  padding: 0;

  &__icon {
    $size: space-base(22px);
    @include fixed-height($size);
    @include fixed-width($size);
  }
}
