@import "src/styles/functions";
@import "src/styles/mixins";

.icon-button {
  $size: space-base(32px);
  @include fixed-height($size);
  @include fixed-width($size);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  background: unset;
  color: unset;

  &__icon {
    $size: space-base(22px);
    @include fixed-height($size);
    @include fixed-width($size);
    fill: $color-foreground;
  }

  &:disabled {
    background: unset;
    cursor: default;
  }
}
