@import "src/styles";

.category-view {
  display: flex;
  flex-direction: column;
  flex: 1;

  padding: padding-base(16) padding-base($padding-page-base);

  &__title {
    display: block;
    font-size: $font-size-huge;
    margin-bottom: padding-base(12);
  }

  &__showcase {
    display: flex;
    flex-direction: column;
    flex: 1;

    .product-showcase {
      flex: 1;
      justify-content: space-between;
    }
  }

  &__loading {
    @include position-center(fixed);
  }
}
