@import "./mixins.scss";
@import "./variables.scss";

* {
  box-sizing: border-box;
}

body {
  @include font();
  color: $color-foreground;
  background-color: $color-background;
}

*::placeholder {
  @include font($font-size: unset);
}

a {
  color: inherit;
  cursor: inherit;
  text-decoration: inherit;
}
