@import "src/styles";

.product-text-attribute-item {
  $root: &;

  display: block;
  position: relative;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
    @include fixed-size(100%, 100%);

    &:checked {
      +#{$root}__label {
        background-color: $color-foreground;
        color: $color-on-foreground;
      }
    }
  }

  &__label {
    border: 1px solid $color-foreground;
    padding: padding-base(3) padding-base(6);
    @include fixed-width(space-base(64px));

    transition: background-color $animation-time-quick ease-in-out;

    &--disabled {
      cursor: default;
    }
  }
}