@import "src/styles/functions";
@import "src/styles/mixins";
@import "src/styles/variables.scss";

.select-items {
  @include box-shadow($shadow-normal);
  background-color: $color-surface;
  transform: translate(margin-base(-5), margin-base(2));

  & > * {
    $padding: padding-base(5);
    padding: ($padding / 2) $padding;

    &:first-child {
      padding-top: $padding;
    }

    &:last-child {
      padding-bottom: $padding;
    }
  }
}
