@import "src/styles/functions";
@import "src/styles/mixins";
@import "src/styles/variables.scss";

.select-overlay {
  position: absolute;

  &__container {
    @include box-shadow($shadow-extra-huge);
    background-color: $color-surface;

    & > * {
      $padding: padding-base(5);
      padding: ($padding / 2) $padding;

      &:first-child {
        padding-top: $padding;
      }

      &:last-child {
        padding-bottom: $padding;
      }
    }
  }
}
