@import "src/styles/functions";
@import "src/styles/mixins";
@import "src/styles/variables.scss";

.app {
  @include position-full(absolute);
  display: flex;
  flex-direction: column;

  &__view-container {
    flex: 1;
    position: relative;
  }

  &__view {
    @include position-full(absolute);
    overflow-y: auto;
  }
}
