@import "src/styles/functions";
@import "src/styles/mixins";
@import "src/styles/variables";

.navbar {
  @include fixed-height(space-base(80px));
  padding: 0 padding-base($padding-page-base);
  display: flex;
  z-index: 2;

  &__container {
    display: flex;
    flex: 1 1 0px;

    &--right {
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__logo {
    $size: space-base(40px);
    width: $size;
    height: $size;
    align-self: center;
  }
}
