@import "src/styles";

.navbar {
  @include fixed-height(space-base($size-navbar));
  padding: 0 padding-base($padding-page-base);
  display: flex;
  z-index: $z-index-navbar;

  &__container {
    display: flex;
    flex: 1 1 0px;

    &--right {
      justify-content: flex-end;
      align-items: center;
    }
  }

  &__logo {
    $size: space-base(40px);
    width: $size;
    height: $size;
    align-self: center;
    pointer-events: none;
  }
}
