@import "src/styles";

.product-swatch-attribute-item {
  $root: &;

  display: block;
  position: relative;

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
    @include fixed-size(100%, 100%);

    &:checked {
      +#{$root}__label {
        border: 2px solid white;
        outline: 1px solid $color-primary;
      }
    }
  }

  &__label {
    outline: 1px solid $color-foreground;
    padding: 0;
    @include fixed-size(space-base(36px));

    transition: border-size $animation-time-quick ease-in-out,
                outline-color $animation-time-quick ease-in-out;

    &--disabled {
      cursor: default;
    }
  }
}