@import "src/styles/functions";

.product-display {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__rows {
    display: flex;
    flex-direction: column;
    gap: margin-base(10);
  }

  &__paginator {
    margin-top: margin-base(10);
  }
}
